@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}
.nav_list {
  display: flex;
  justify-content: space-between;
}
.nav_list li {
  list-style: none;
  padding: 0 20px;
}
.nav_list li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.nav_list li a:hover {
  color: #414042;
}
.btn_signup {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border: 1px solid #757575;
  border-radius: 12px;
  color: #757575;
  background: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}
.btn_signup:hover {
  color: #fff;
  background: #757575;
}
.btn_login {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 24px;
  border: 1px solid #414042;
  border-radius: 12px;
  color: #fff;
  background: #414042;
  transition: all 0.2s ease;
  cursor: pointer;
}
.btn_login:hover {
  color: #414042;
  background: #fff;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}
.left_main {
  width: 40%;
  padding-left: 100px;
}
.left_main h2 {
  font-size: 50px;
  font-weight: 600;
  color: #414042;
  line-height: 1.3;
}
.left_main p {
  font-size: 20px;
  color: #757575;
  margin-top: 20px;
  line-height: 1.6;
}
.left_main .btn_main {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #474747;
  background: green;
  background: linear-gradient(
    90deg,
    rgba(204, 131, 249, 0.4) -12.16%,
    rgba(230, 112, 225, 0.5) 29.38%,
    rgba(245, 248, 118, 0.6) 71.53%,
    #83f5fd 106.86%
  );
  padding: 14px 40px;
  border: none;
  border-radius: 16px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.right_main img {
  width: 100%;
}
